<h1><%= @team.name %></h1>

<p> Description: <%= @team.description %> </p>

<p> Team Roster: </p>
<% @team.players.each do |player| %>
    <li> <%= link_to player.name, player_path(player) %> </li>
<% end %>

<br>
<p> <%= link_to 'All Teams', teams_path %> </p>